{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% set bodyClass='error error-500' %}
{% block body %}

    <div class="main">
        <h1>Oups ! La page que vous recherchez retourne une erreur !</h1><br>
        <p>Quelque chose est cassé, nous le réglons le plus vite possible ! </p>
        <img src="{{ asset('logos/logo-egs.png') }}" alt="Logo EGS">
        <a href="{{ path('home') }}">Retour à l'accueil</a>
    </div>

{% endblock %}