{% if is_mobile() == true and is_tablet() == false %}
    <i class="fas fa-trophy"></i>
    <a href="{{ path('evaluation') }}">Évaluation</a>
{% else %}
    <i class="fas fa-trophy"></i>
    <a href="{{ path('evaluation') }}">Évaluation</a>
    <i class="fas fa-angle-right"></i>
    <span>{{ section }}</span>
    <i class="fas fa-angle-right"></i>
    <span>{{ discipline }}</span>
    <i class="fas fa-angle-right"></i>
    <span>Choisissez l'élève</span>
{% endif %}