<i class="fas fa-sliders-h"></i>

{% if is_mobile() == false %}
    <span>Parcours de formation</span>
{% else %}
    <span>Parcours</span>
{% endif %}

    {% if app.request.attributes.get('_route') == 'student_careers' %}
    <i class="fas fa-angle-right"></i>

    {% if app.user.student and app.user.student.id == student.id %}
        <a href="{{ path('student_profile', {'student': student.id}) }}">{{ student.firstname ~ ' ' ~ student.lastname|first ~ '.' }}</a>
    {% else %}
        <a href="{{ path('student', {'student': student.id, 'firstname': student.firstname, 'lastname': student.lastname}) }}">
            {{ student.firstname ~ ' ' ~ student.lastname|first ~ '.' }}
        </a>
    {% endif %}

{% endif %}