/* COLORS */

$white: #fff;
$black: #000;

$blue: #172c3b;
$altBlue: #2a4153;
$alt2Blue: #359dae;
$lightBlue: #96dade;
$darkBlue: #010e1b;
$orange: #f2a973;
$altOrange: #e6a485;
$altOrange2: #db743c;
$altOrange3: #fb3e00;
$pink: #ee8089;
$altPink: #f8666e;
$rust: #bc4627;
$red: #e00614;
$darkRed: #79030a;
$lightRed: #f0656e;
$purple: #6b2d5c;
$lightPurple: #97588b;
$darkPurple: #411B38;
$altBlack: #010e1b;
$grey: #757575;
$lightGrey: #dfe5ec;
$lightGrey2: #e0f6fd;
$lightGrey3: #c5c9d0;
$green: #12906c;
$altGreen: #35a98f;
$golden : #f3e266;


/* FONTS */

$font1: 'Roboto', sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 800;